@model IEnumerable<Biblioteca_UniLib.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form asp-action="Create" data-ajax="true"
    data-ajax-method="post" data-ajax-mode="replace"
    data-ajax-update="#Tabela" data-ajax-sucess="sucesso">
    <input id="inp" type="text" name="NewName" />
    <input type="submit" value="Create" class="btn btn-primary" />
</form>

Date: @DateTime.Now
<hr />

<partial name="Listing" model="Model" />

<hr />
Date: @DateTime.Now

<script>
    function sucesso() {
        $("#inp").val("")
    }
</script>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
