@model Biblioteca_UniLib.Models.Course

@{
    ViewData["Title"] = "Detalhes";
}
@{
    bool isLeitor = User.IsInRole("Leitor");
    bool isBibliotecario = User.IsInRole("Bibliotecario");
}


<h1>@Model.Name</h1>

<div class="container course-details">
    <div class="row">

        <div class="col-md-4">

            @if (!string.IsNullOrEmpty(Model.CoverPhoto))
            {
                <img src="~/Cover/@Model.CoverPhoto" alt="Cover Photo" class="course-cover-photo" />
            }
            else
            {
                <span>No cover photo available</span>
            }
        </div>
        <div class="col-md-8 details-container">
            <div class="back-button">
                <a href="javascript:history.back()">
                    <img src="~/imagens/seta.png" alt="Seta" />
                </a>
            </div>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    Descrição
                </dt>
                <dd class="col-sm-8">
                    <div class="description-content">
                        <p class="description-text">@Html.DisplayFor(model => model.Description)</p>
                    </div>
                </dd>
                <dt class="col-sm-4">
                    ISBN
                </dt>
                <dd class="col-sm-8">
                    <div class="description-content">
                        <p class="description-text">@Html.DisplayFor(model => model.ISBN)</p>
                    </div>
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Quantidade)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Quantidade)
                </dd>
             
                <dt class="col-sm-4">
                    Categoria
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Category.Description)
                </dd>
                <div class="text-center mt-3">
                    <div>
                        @if (Model.Quantidade > 0)
                        {
                            @if (isLeitor)
                            {
                                <a href="@Url.Action("Index", "Requests", new { id = Model.ID })"
                                  class="btn btn-success"
                                   style="background-color: #5e0606; border-color: #5e0606;">Requisitar</a>
                            }
                            else
                            {
                                <h3 style="font-size: 19px; color: #5e0606;">Só o leitor pode requisitar livros</h3>
                            }
                        }
                        else
                        {
                            <h3 style="font-size: 19px; color: #5e0606;">Livro indisponível no momento</h3>
                        }
                    </div>
                </div>
            </dl>
        </div>
    </div>
</div>

<div>
    @if (isBibliotecario)
                        {
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> 
    <a asp-action="Index">Back to List</a>
                        }
</div>

<style>
    .back-button {
        position: absolute; /* Ajuste conforme necessário */
        top: 60px;
        left: 20px;
    }

        .back-button a img {
            width: 65%;
            height: auto;
            cursor: pointer;
            transition: transform 0.3s ease;
        }

            .back-button a img:hover {
                transform: scale(1.1);
            }

</style>