@model IEnumerable<Biblioteca_UniLib.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addrec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dest)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Addrec)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<footer>
    <div class="grid footer">
        <div class="card_logo">
            <img src="/imagens/logo200.png" alt="logo UniLib">
        </div>
        <div class="grid sb">
            <h3>Sobre nós</h3>
            <p></p>
            <a href="@Url.Action("Privacy", "Home")">Política de Privacidade</a>
            <p></p>
            <a href="@Url.Action("Termos", "Home")">Termos de Serviço</a>
            <p></p>
        </div>
        <div class="grid ajuda">
            <h3>Ajuda</h3>
            <p></p>
            <a href="@Url.Action("Ajuda", "Home")">Caixa de Mensagens</a>
        </div>
    </div>
</footer>
