@model IEnumerable<Biblioteca_UniLib.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestão de Livros</h1>

<p>
    <a asp-action="Create" style="color: #5e0606;">Adicionar livro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addrec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dest)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Addrec)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Description)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" style="color: #5e0606;">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID" style="color: #5e0606;">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" style="color: #5e0606;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


