@model IEnumerable<Biblioteca_UniLib.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestão de Livros</h1>

<p>
    <a asp-action="Create" style="color: #5e0606;">Adicionar livro</a>
</p>
<form method="get" class="mb-4">
    <div class="row g-3">
        <div class="col-md-4">
            <input type="text" name="searchName" value="@ViewData["SearchName"]" class="form-control" placeholder="Pesquisar por Título" />
        </div>
        <div class="col-md-4">
            <input type="text" name="searchAuthor" value="@ViewData["SearchAuthor"]" class="form-control" placeholder="Pesquisar por Autor" />
        </div>
        
        <div class="col-md-12 text-end">
            <button type="submit" class="btn-submit">Pesquisar</button>

        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Autor
            </th>
            <th>
                ISBN
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Dest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addrec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Dest)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Addrec)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Description)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" style="color: #5e0606;">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ID" style="color: #5e0606;">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" style="color: #5e0606;">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>


