@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
<style>
    /* Ajuste para o botão Save */
    .btn-submit {
        width: 100%;
        padding: 10px;
        background-color: #5e0606; /* Mesma cor da barra de navegação */
        color: #fff; /* Texto branco para contraste */
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
        transition: background-color 0.3s ease; /* Efeito ao passar o mouse */
    }

        .btn-submit:hover {
            background-color: #a33636; /* Tom mais claro ao passar o mouse */
        }

    /* Alteração dos links na navegação lateral */
    .nav-link {
        color: #5e0606; /* Cor do texto */
    }

        .nav-link:hover, .nav-link.active {
            background-color: #a33636; /* Tom mais claro no hover ou ativo */
            color: white; /* Texto branco */
        }
    /* Botão ativo */
    .btn-submit:active {
        background-color: #a33636; /* Cor ao ser clicado */
        color: white; /* Texto branco */
        border: 1px solid #5e0606; /* Borda para destaque */
    }

    /* Botão ativo na navegação lateral */
    .nav-link.active {
        background-color: #5e0606; /* Fundo do botão ativo */
        color: white; /* Texto branco */
        border-radius: 5px; /* Para combinar com o design */
    }

    /* Estilo hover para feedback adicional */
    .nav-link:hover {
        background-color: #a33636; /* Cor ao passar o mouse */
        color: white;
    }

</style>