@model IEnumerable<Biblioteca_UniLib.Models.Course>
@{
    ViewData["Title"] = "Home Page";
}
@{
    bool isBibliotecario = User.IsInRole("Bibliotecario");
    bool isAdmin = User.IsInRole("Admin");
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Virtual UNILIB</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <!-- Barra de Navegação -->
    <nav class="navbar" >
        <div class="container">
            <div class="cardfotoinicial">
                <img src="/imagens/bibliotecafi.png" alt=""">
            </div>
            
        </div>
                @if (isBibliotecario)
                {
            <a href="/Requests/Gerirrequisicoes" class="btn btn-custom btn-lg" style="border-radius: 10px; padding: 15px 35px; font-size: 18px;">
                <i class="fas fa-list" style="margin-right: 10px;"></i> Gerir Requisições
            </a>
            <a href="/Courses/Index" class="btn btn-custom btn-lg" style="border-radius: 10px; padding: 15px 35px; font-size: 18px;">
                <i class="fas fa-list" style="margin-right: 10px;"></i> Gerir Livros
            </a>
                }
                @if (isAdmin)
                {
            <a href="/Admin/" class="btn btn-custom btn-lg" style="border-radius: 10px; padding: 15px 35px; font-size: 18px;">
                <i class="fas fa-list" style="margin-right: 10px;"></i> Painel de Administração
            </a>
                }
      
    </nav>

    
    <!-- categorias em Destaque -->

    <section id="categorias" class="categorias">
        <h2>
            <img src="/imagens/catlab.png" alt="Símbolo de Categorias" class="icon-categoria">
             Categorias
        </h2>
        <div class="grid grid_categoria">
            <div class="card_c">
                <form asp-controller="Home" asp-action="cat_arte">
                    <button class="card_a">
                        <img src="/imagens/Cat_Arte.jpg" alt="Arte">
                        <h3>Arte</h3>
                    </button>
                </form>
            </div>
            <div class="card_c">
                <form asp-controller="Home" asp-action="cat_ficcao">
                    <button class="card_a">
                        <img src="/imagens/ficcao1.jpeg" alt="Ficção">
                        <h3>Ficção</h3>
                    </button>
                </form>
            </div>
            <div class="card_c">
                <form asp-controller="Home" asp-action="cat_romance">
                    <button class="card_a">
                        <img src="/imagens/Cat_Romance.jpg" alt="Romance">
                        <h3>Romance</h3>
                    </button>
                </form>
            </div>
            <div class="card_c">
                <form asp-controller="Home" asp-action="cat_financas">
                    <button class="card_a">
                        <img src="/imagens/cat_financas.jpg" alt="Finanças">
                        <h3>Finanças</h3>
                    </button>
                </form>
            </div>
            <div class="card_c">
                <form asp-controller="Home" asp-action="cat_fantasia">
                    <button class="card_a">
                        <img src="/imagens/Cat_Fantasia.jpg" alt="Fantasia">
                        <h3>Fantasia</h3>
                    </button>
                </form>
            </div>
            <div class="card_c">
                <form asp-controller="Home" asp-action="cat_comedia">
                    <button class="card_a">
                        <img src="/imagens/Cat_Comedia.jpg" alt="Comédia">
                        <h3>Comédia</h3>
                    </button>
                </form>
            </div>
        </div>


    </section>

    <!-- Autores em Destaque -->
    <section id="autores" class="autores">
        <h2>
            <img src="/imagens/pessoalab.png" alt="Símbolo de Autores em Destaque" class="icon-categoria">
            Autores em Destaque
        </h2>
        <div class="grid grid_autores">
            <div class="card_a">
                <img src="/imagens/Freida.jpg" alt="Fraida Mcfadden">
                <h3>Freida Mcfadden</h3>
            </div>
            <div class="card_a">
                <img src="/imagens/George.jpg" alt="George R. R. Martin">
                <h3>George R. R. Martin</h3>
            </div>
            <div class="card_a">
                <img src="/imagens/Alice.jpg" alt="Alice Oseman">
                <h3>Alice Oseman</h3>
            </div>
        </div>
    </section>




    <!-- Livros em Destaque -->
    <section id="destaques" class="destaques">
        <div class="destaque-header">
            <h2>
                <img src="/imagens/livrolab.png" alt="Símbolo de Livros em Destaque" class="icon-categoria">
                Livros em Destaque
            </h2>
            <form asp-controller="Home" asp-action="Livros_em_destaque">
                <button type="submit" class="ver-mais">Ver mais</button>
            </form>
        </div>
        <div class="carousel">
            <button class="carousel-btn prev">&#8249;</button>
            <div class="carousel-track" data-current-slide="0">
                            @foreach (var course in Model.Where(c => c.Dest == true))
                            {
                    <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.ID" class="card_ld-link">
                        <div class="card_ld">
                            <div class="card_l_content">
                                            @if (!string.IsNullOrEmpty(course.CoverPhoto))
                                            {
                                    <img src="~/Cover/@course.CoverPhoto" alt="Capa do Livro" />
                                            }
                                            else
                                            {
                                    <span>Sem imagem disponível</span>
                                            }
                                <h3 class="book-title">@course.Name</h3>
                                <p class="book-author">@course.Author</p>
                            </div>
                        </div>
                    </a>
                            }
            <button class="carousel-btn next">&#8250;</button>
        </div>
    </section>


    <!-- Adicionados Recentemente -->
    <section id="adicionados" class="recentes">
        <div class="Ad-header">
            <h2>
                <img src="/imagens/relogiolab.png" alt="Símbolo de Livros Adicionados Recentemente" class="icon-categoria">
                Adicionados Recentemente
            </h2>
            <form asp-controller="Home" asp-action="Adicionados_recentemente">
                <button type="submit" class="ver-mais">Ver mais</button>
            </form>
        </div>
        <div class="carousel2">
            <button class="carousel2-btn prev">&#8249;</button>
            <div class="carousel2-track" data-current-slide="0">
                            @foreach (var course in Model.Where(c => c.Addrec == true))
                            {
                    <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.ID" class="card_ld-link">
                        <div class="card_ld">
                            <div class="card_l_content">
                                            @if (!string.IsNullOrEmpty(course.CoverPhoto))
                                            {
                                    <img src="~/Cover/@course.CoverPhoto" alt="Capa do Livro" />
                                            }
                                            else
                                            {
                                    <span>Sem imagem disponível</span>
                                            }
                                <h3 class="book-title">@course.Name</h3>
                                <p class="book-author">@course.Author</p>
                            </div>
                        </div>
                    </a>
                            }
            </div>
            <button class="carousel2-btn next">&#8250;</button>
        </div>
    </section>


        <!-- Sobre Nós -->
        <section id="sobre" class="sobre">
            <h2>Sobre Nós</h2>
            <p>A UNILIB procura ser um estímulo na construção de uma sociedade baseada no conhecimento, conectando utilizadores a recursos digitais diversificados.
               A nossa missão é promover a literacia digital e a literacia da informação, disponibilizando recursos digitais de qualidade e fomentando a partilha de conhecimento.
             <p> Contacto: 972742234</p>
             <p>Unilib@gumail.com</p>
            </p>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div class="grid footer">
            <div class="card_logo">
                <img src="/imagens/logo200.png" alt="logo UniLib">
            </div>
            <div class="grid sb">
                <h3>Sobre nós</h3>
                <p></p>
                <a href="@Url.Action("Privacy", "Home")">Política de Privacidade</a>
                <p></p>
                <a href="@Url.Action("Termos", "Home")">Termos de Serviço</a>
                <p></p>
            </div>
            <div class="grid ajuda">
                <h3>Ajuda</h3>
                <p></p>
                <a href="@Url.Action("Ajuda", "Home")">Caixa de Mensagens</a>
            </div>
        </div>
    </footer>
</body>
</html>


