@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UniLib</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UniLib.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="d-flex justify-content-start gap-2 mb-3">
        <button class="btn-submit" onclick="location.href='@Url.Action("AddCookies", "Home")'">Add Cookies</button>
        <button class="btn-submit" onclick="location.href='@Url.Action("DeleteCookies", "Home")'">Delete All Cookies</button>
        <button class="btn-submit" onclick="location.href='@Url.Action("AddSessionVariables", "Home")'">Add Sessions</button>
        <button class="btn-submit" onclick="location.href='@Url.Action("DeleteSessionVariables", "Home")'">Delete All Sessions</button>
        <button class="btn-submit" onclick="location.href='@Url.Action("DeleteSession", "Home")'">Add TempData</button>
    </div>

        
    <main class="container">
        <h1>Detalhes da Sessão</h1>
        <div>
            <strong>Session ID:</strong> @(HttpContextAccessor.HttpContext?.Session?.Id ?? "No Session")
        </div>
        @if (HttpContextAccessor.HttpContext?.Session != null)
        {
            @foreach (var item in HttpContextAccessor.HttpContext.Session.Keys)
            {
                if (item == "StringValue")
                {
                    <div>@item - @HttpContextAccessor.HttpContext.Session.GetString(item)</div>
                }
                else
                {
                    <div>@item - @HttpContextAccessor.HttpContext.Session.GetInt32(item)</div>
                }
            }
        }

        @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

        <h1>Web Cookies in Request</h1>

        @if (HttpContextAccessor.HttpContext.Request.Cookies.Count == 0)
        {
            <div>No cookies were sent</div>
        }
        else
        {
            @foreach (var item in HttpContextAccessor.HttpContext.Request.Cookies.Keys)
            {
                <div>@item - @HttpContextAccessor.HttpContext.Request.Cookies[item]</div>
            }
        }

        @{
            var sessionId = HttpContextAccessor.HttpContext.Session.Id; // Obtendo o ID da sessão
        }

        <h1>Session ID</h1>
        <div>
            The presentation of this value is used to confirm the reuse of the sessions:
            <strong>@sessionId</strong>
        </div>

        @foreach (var item in HttpContextAccessor.HttpContext.Session.Keys) // Acessando as chaves da sessão
        {
            if (item == "StringValue")
            {
                <div>@item - @HttpContextAccessor.HttpContext.Session.GetString(item)</div>
            }
            else
            {
                <div>@item - @HttpContextAccessor.HttpContext.Session.GetInt32(item)</div>
            }
        }
    </main>
</body>
</html>
