@model IEnumerable<Biblioteca_UniLib.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestão de Categorias</h1>

<p>
    <a asp-action="Create">Criar nova categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
          
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>



<style>
    .custom-link {
        color: #5e0606;
        text-decoration: none; /* Remove underline */
    }

        .custom-link:hover {
            text-decoration: underline; /* Optional: Add underline on hover */
        }
</style>
