@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="register-container">
    <div class="register-left">
        <a href="#" class="back-button">&#8592;</a>
        <h2>LOGIN</h2>
        <div class="image-container">
            <img src="~/imagens/Register.jpg" alt="Pilha de Livros com óculos em cima">
        </div>
    </div>
    <div class="register-right">
        <h3>Preenche todas as informações para criar uma conta na plataforma</h3>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
         
            <div class="form-group">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control" placeholder="Insere o teu email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">Password</label>
                <div class="password-wrapper">
                    <input asp-for="Input.Password" type="password" class="form-control" placeholder="Insere a password" />

                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                <button id="login-submit" type="submit" class="btn-submit">Login</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
        </form>
    </div>
    <!--<div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>--->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
